body {
  padding: 0;
  background: #b7bf76;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}

div {
  margin: auto;
  font-family: Helvetica, Sans-Serif;
  text-align: center;
}

svg {
  margin: auto;
  display: block;
}

.no-flicker {
  -webkit-transform-style: preserve-3d;
}

.players {
  display: flex;
  margin-top: 10px;
  color: #060;
}

.black-player {
  font: bold 3em Helvetica, Sans-Serif;
  color: black;
  text-align: left;
  flex-grow: 1;
}

.white-player {
  font: bold 3em Helvetica, Sans-Serif;
  color: white;
  text-align: right;
  flex-grow: 1;
}

.dots {
  margin-bottom: 10px;
}

.empty-black {
}

.empty-white {
}

.white-black {
}

.black-white {
}

.board {
  margin-bottom: 20px;
}

.dimension {
  color: #060;
}

.total_score {
  color: red;
}

.score {
  font-size: 3em;
}

.error {
  color: #060;
  font: bold;
  margin-bottom: 20px;
}

.dot {
  stroke: none;
}

.hollow {
  fill: none;
  stroke: #888;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}

.white {
  fill: #fff;
  fill-opacity: 1;
}

.black {
  fill: #000;
  fill-opacity: 1;
}

@keyframes pulsate {
  50% {
    stroke-width: 3px;
  }
}

.cover {
  width: 20em;
}

.tip {
  margin-top: 50px;
  margin-left: 10px;
  color: #363;
  width: 100%;
  text-align: left;
  font-size: 0.8em;
}

.tip ol {
  margin: 0;
  padding-left: 1em;
  padding-right: 0;
}

body,
.input,
.button {
  font: bold;
  margin: 10px;
}

.label {
  display: block;
  margin: 10px;
}

.input {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  margin: 0 0 10px 10px;
  padding: 10px 15px;
  width: 100%;
}

.button {
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  display: inline-block;
  margin: 0 0 10px;
  padding: 10px 15px;
  text-decoration: none;
}

.button:hover {
  background: #e8e8e8;
}
